body {
  background-color: black;
}
.App {
  text-align: center;
  font-size: 28px;
  color: #ed145b;
  margin-top: 40px;
}

.buttonDiv{
  text-align: center;
  margin-top: 20px;
}

.button {
  background-color: #ed145b;
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
  border: 0;
}