.toysTitleCard{
  font-weight: bold !important;  
  height: 40px;
  cursor: pointer;
}

.itemClass{
  text-align: center;
  cursor: pointer;
}

.cardClass {
  max-width: 345px !important;
  border-radius: 20px !important;
}

.deleteMainCardButton{
  width: 100%;
  justify-content: right !important;
  margin-top: -31px !important;
  padding: 0px !important;
}